<div class="top">
  <header>
    <div class="right-side">
      <h1><span id="MB">M</span> a r t h a <span id="MB">B</span> e r n e r</h1>

      <div class="icon-bar">
        <div class="link" id="email-div">
          <a href="mailto:marthaberner.mb@gmail.com" id="email">email</a>
        </div>
        <div class="link">
        <a href="https://github.com/marthaberner" id="github" target="_blank">github</a>
        </div>
        <div class="link">
        <a href="https://twitter.com/marthaberner" id="twitter" target="_blank">twitter</a>
        </div>
        <div class="link">
        <a href="https://linkedin.com/in/marthaberner" id="linkedin" target="_blank">linkedin</a>
          </div>
        <div class="link">
        <a href="http://marthaberner.com" id="music" target="_blank">music</a>
          </div>
      </div>
      <div class="intro-to-me">
        <p>
          As a full-stack developer with a background in music and videography, I practice agile software development
          methods and build test
          driven web apps from end-to-end using Ruby on Rails, MVC frameworks, PostgreSQL, JavaScript, CSS3 and HTML5.
        </p>

        <p>
          I value an adaptive development process and contributing to a thriving, innovative development culture. I
          enjoy
          pairing, but am not afraid to go it alone. While Ruby is my first language, I welcome the opportunity to learn
          and
          grow into
          new languages and development experiences.
        </p>
      </div>
    </div>
  </header>
</div>
<div class="bottom">
  <div class="code">
    <h1>Code / Projects</h1>

    <div class="terminal">
      <h3>THE GIFTHORSE -
        <a href="https://github.com/marthaberner/the-gifthorse" target="_blank">https://github.com/marthaberner/the-gifthorse</a>
      </h3>

      <p>
        A personal wish list app used to connect family and friends and facilitate group and individual gift giving.
        This
        app
        implements user authorization, a url shortener, JavaScript bookmarklet, and more.<br><br>
        <span class="technologies">TECHNOLOGIES:</span> RSpec, DatabaseCleaner, Capybara, BCrypt, PostgreSQL, Has Secure
        Password
      </p>
    </div>
    <div class="terminal">
      <h3>EXERCISM.IO KATAS -
        <a href="https://github.com/marthaberner/exercisms">https://github.com/marthaberner/exercisms</a></h3>

      <p>
        A repo of my solutions to Ruby challenges designed by Katrina Owen. The goal of these katas is to practice the
        implementation of simple solutions to complex challenges, identifying duplication, practicing descriptive method
        names
        and clear variables.
      </p>
    </div>
    <div class="terminal">
      <h3>ESCAPE BOULDER -
        <a href="https://github.com/BlueVajra/escape_boulder" target="_blank">https://github.com/BlueVajra/escape_boulder</a>
      </h3>

      <p>
        1st place winner at Quick Left's Battle of the Games Hackfest 2014.<br><br>
        This quirky little quest game was a team effort, built in just 3 hours. We had a blast working on this and it is
        a great example of
        when teamwork goes really well. For me, this project reiterated how exciting it is to work with inspired
        developers and just
        have fun. The code is ugly (only 3 hours), but the storytelling is good!<br><br>
        <span class="technologies">TECHNOLOGIES:</span> Sinatra, JQuery, Makey Makey
      </p>
    </div>
  </div>
  <div class="side-bar" id="gifthorse">
    <a href="http://the-gifthorse.herokuapp.com/" id="gifthorse" target="_blank"></a>
  </div>
  <div class="side-bar" id="arrows">
    <div id="arrow-up">
    </div>
    <p>Click to try GiftHorse!</p>
  </div>
  <div class="side-bar" id="arrows-escape">
    <p>Click to play Escape Boulder!</p>

    <div id="arrow-down">
    </div>
  </div>
  <div class="side-bar" id="escape">
    <a href="http://escape-boulder.herokuapp.com/" id="escape" target="_blank"></a>
  </div>
</div>
